<%- include('../../partials/head', {
  title: title,
  styles: ['courses/kids/english_7-10'],
  scripts: []
}) %>

<body>
  <%- include('../../partials/header') %>

  <main class="course-detail-kids-container">
    <section class="course-hero">
      <h1>Angielski dla dzieci 11–13 lat – rozwijamy pewność i umiejętności językowe!</h1>
      <p>
        W tym wieku dzieci są gotowe na większe wyzwania językowe – dlatego nasz kurs dla uczniów 11–13 lat łączy solidną naukę z ciekawymi tematami, które naprawdę ich interesują.
      </p>
      <p>
        Podczas zajęć rozwijamy wszystkie kluczowe umiejętności: mówienie, rozumienie, czytanie i pisanie. Pracujemy na materiałach dopasowanych do wieku – pełnych współczesnych tematów, dialogów i ćwiczeń, które angażują i zachęcają do aktywnego używania języka.
      </p>
      <p>
        Kładziemy nacisk na komunikację i praktyczne zastosowanie angielskiego – zarówno w szkole, jak i poza nią. Uczymy, jak mówić płynnie, pisać poprawnie i rozumieć język w naturalnym kontekście.
      </p>
      <p>
        Zajęcia prowadzone są w inspirujący i przyjazny sposób – tak, by nauka była nie tylko skuteczna, ale też przyjemna.
      </p>
      <p>
        Pomóż swojemu dziecku zbudować silne podstawy językowe i przygotować się na kolejne etapy edukacji!
      </p>

      <a href="/courses/sign_up" class="button">Zapisz się na kurs</a>
    </section>
  </main>

  <%- include('../../partials/footer') %>
</body>
