<%- include('../../partials/head', {
  title: title,
  styles: ['courses/adults/english_bussiness'],
  scripts: []
}) %>

<body>
  <%- include('../../partials/header') %>

  <main class="course-detail-container">
    <section class="course-hero">
        <h1>Business English – język sukcesu w pracy i biznesie!</h1>
      <p>
        Chcesz swobodnie porozumiewać się po angielsku w świecie biznesu? Nasz kurs Business English został stworzony z myślą o profesjonalistach, którzy chcą podnieść swoje kompetencje językowe i zyskać pewność w kontaktach biznesowych.
      </p>
      <p>
        Poznasz specjalistyczne słownictwo, zwroty i struktury niezbędne podczas prezentacji, negocjacji, rozmów telefonicznych czy pisania e-maili. Nauczysz się efektywnie komunikować się z międzynarodowymi klientami i partnerami oraz budować profesjonalny wizerunek w języku angielskim.
      </p>
      <p>
        Zajęcia prowadzone są w praktycznym i interaktywnym stylu, dzięki czemu szybko zobaczysz efekty i zyskasz przewagę na rynku pracy.
      </p>
      <p>
        Dołącz do Business English i otwórz drzwi do międzynarodowego sukcesu!
      </p>

      <a href="/courses/sign_up" class="button">Zapisz się na kurs</a>
    </section>
  </main>

  <%- include('../../partials/footer') %>
</body>
