<%- include('../../partials/head', {
  title: title,
  styles: ['courses/adults/english_intermediate'],
  scripts: []
}) %>

<body>
  <%- include('../../partials/header') %>

  <main class="course-detail-container">
    <section class="course-hero">
        <h1>Angielski średniozaawansowany dla dorosłych – rozwijaj swoje umiejętności i mów pewniej!Angielski od podstaw – Twój pierwszy krok do pewności w komunikacji!</h1>
      <p>
        Masz już podstawy angielskiego, ale chcesz mówić płynniej i z większą swobodą? Ten kurs jest idealny dla Ciebie! Skupimy się na rozbudowie słownictwa, poprawie wymowy oraz doskonaleniu gramatyki, tak abyś mógł swobodnie porozumiewać się w pracy, podczas podróży czy w kontaktach towarzyskich.
      </p>
      <p>
        Zajęcia są dynamiczne i praktyczne – czekają na Ciebie ciekawe dialogi, autentyczne materiały oraz ćwiczenia, które pomogą Ci przełamać barierę językową. Nauczysz się wyrażać swoje myśli precyzyjnie i naturalnie, a Twoja pewność siebie w angielskim wzrośnie z każdym spotkaniem!
      </p>
      <p>
        Dołącz do kursu i zrób kolejny krok na drodze do biegłej komunikacji!
      </p>

      <a href="/courses/sign_up" class="button">Zapisz się na kurs</a>
    </section>
  </main>

  <%- include('../../partials/footer') %>
</body>
