<header class="main-header">
  <div class="container">
    <div class="header-top">
     <div class="logo">
       <a href="/">
         <img src="/images/logo.png" alt="Logo" />
       </a>
      </div>

      <div class="search-bar">
        <input type="text" placeholder="Wyszukaj kurs..." />
        <button class="search-button" aria-label="Szukaj">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
            <path d="M10 2a8 8 0 105.293 14.293l4.707 4.707 1.414-1.414-4.707-4.707A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
          </svg>
        </button>
      </div>

      <div class="header-icons">
        <a href="/" class="icon-button" aria-label="Strona główna">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 576 512" fill="#053108">
            <path d="M280.37 148.26L96 300.11V464a16 16 0 0016 16l112-.29a16 16 0 0016-15.74V368a16 16 0 0116-16h64a16 16 0 0116 16v95.91a16 16 0 0016 16l112 .29a16 16 0 0016-16V300L295.67 148.26a12.19 12.19 0 00-15.3 0z"/>
          </svg>
        </a>

        <a href="/user/login" class="icon-button" aria-label="Zaloguj się">
          <svg class="user-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#053108" width="30" height="30">
            <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
          </svg>
        </a>
      </div>
    </div>

    <nav class="header-bottom">
      <a href="/courses/adults/">Dla dorosłych</a>
      <a href="/courses/kids">Dla dzieci</a>
    </nav>
  </div>
</header>
