<!DOCTYPE html>
<html lang="pl">
  <%- include('head', { title, styles, scripts }) %>

  <body>
    <%- include('header', { user }) %>

    <main>
      <%- body %>
    </main>

    <%- include('footer') %>
  </body>
</html>
